:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #000;
  background-color: #f1f4f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
